{% trans_default_domain 'FOSUserBundle' %}
{% extends '@FOSUser/Security/login_content.html.twig' %}
{% block login %}
    <center>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
<br>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary"/>
    </div>
</form>
</center>
{% endblock %}